fastapi
uvicorn
sqlalchemy
pydantic[email]
passlib==1.7.4
bcrypt==4.0.1
python-jose
python-multipart
PyMuPDF
langchain
langchain-core
langchain-text-splitters
langchain_experimental
langchain-huggingface
sentence_transformers 
nltk
chromadb